name: JRuby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        gemfile:
          - delayed_job.gemfile
          - rack.gemfile
          - rack_1.gemfile
          - rails.gemfile
          - rails5.0.gemfile
          - rails5.1.gemfile
          - rails5.2.gemfile
          - rails6.0.gemfile
          - resque.gemfile
          - sinatra.gemfile
          - sinatra_1.gemfile
          - standalone.gemfile
    steps:
    - uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Set up RVM
      run: |
        curl -sSL https://get.rvm.io | bash

    - name: Set up JRuby
      run: |
        source $HOME/.rvm/scripts/rvm
        rvm install jruby
        rvm --default use jruby

    - name: Install SQLite shared library
      run: |
        sudo apt-get -yqq install libsqlite3-dev

    - name: Cache
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-

    - name: Build and test
      env:
        GEMFILE: ${{ matrix.gemfile }}
      run: |
        source $HOME/.rvm/scripts/rvm
        rvm use jruby
        export BUNDLE_GEMFILE="${GITHUB_WORKSPACE}/gemfiles/${GEMFILE}"
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake spec:units spec:integrations
