name: Release gem

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Build and test regular ruby
        run: |
          bundle exec rake

      - name: Create Release PR
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: ruby
          package-name: honeybadger
          version-file: lib/honeybadger/version.rb

      - name: Publish gem
        if: ${{ steps.release.outputs.release_created }}
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_AUTH_TOKEN}}"
