name: Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby:
          - 2.4.x
          - 2.5.x
          - 2.6.x
          - 2.7.x
        gemfile:
          - binding_of_caller.gemfile
          - delayed_job.gemfile
          - rack.gemfile
          - rack_1.gemfile
          - rails.gemfile
          - rails5.0.gemfile
          - rails5.1.gemfile
          - rails5.2.gemfile
          - rails6.0.gemfile
          - resque.gemfile
          - sinatra.gemfile
          - sinatra_1.gemfile
          - standalone.gemfile
    steps:
    - uses: actions/checkout@v1

    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: Install SQLite shared library
      run: |
        sudo apt-get -yqq install libsqlite3-dev

    - name: Cache
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-

    - name: Build and test
      env:
        GEMFILE: ${{ matrix.gemfile }}
      run: |
        export BUNDLE_GEMFILE="${GITHUB_WORKSPACE}/gemfiles/${GEMFILE}"
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake
